@import 'reset';
@import 'vars';
@import 'global';

.directions {
  padding-bottom: 150px;
}

.about {
  padding-bottom: 150px;
}

.stock {
  padding-top: 0;
}

// Advantages

.advantages {
  padding-top: 150px;
  padding-bottom: 150px;

  &__title {
    color: #000000;
    font-size: 100px;
    font-family: 'Cormorant', Arial, sans-serif;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 300px;

    img {
      width: 60px;
      height: 60px;
      margin-bottom: 25px;
    }

    div {
      color: #000000;
      font-size: 32px;
      font-family: 'Cormorant', Arial, sans-serif;
      line-height: 1;
      font-weight: 600;
      margin-bottom: 25px;
    }

    p {
      color: #000000;
      font-size: 18px;
      font-family: 'Raleway', Arial, sans-serif;
      line-height: 1.4;
      font-weight: 100;
      opacity: 0.55;
    }
  }
}
// /.Advantages

@media (max-width: 1200px) {
  .burger-wrap {
    display: none;
  }
}

@import 'media';